.details {
	width: 320px;
}

p {
	padding-left: 10px;
}

span {
	font-weight: bold;
}

form {
	margin-left: 10px;
}

label {
	position:relative;
	width: 100%;
	margin-bottom: 10px;
}
input {
	position: absolute;
	right: 0;
}

button, a {
	text-decoration: none;
	border: 2px solid rgba(215, 38, 44, 0.7);
	background: rgba(215, 38, 44, 0.9);
	color: white;
	width: 100px;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: Verdana;
}

button:hover, a:hover {
	background: rgba(215, 38, 44, 0.7);
}

a {
	margin-left: 10px;
	padding: 4px 9px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 2px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 2px solid #a94442; 
}

.error {
	color: red;
}

button[disabled] {
	background: grey;
}