.create {
	width: 500px;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif;
}

p {
	padding-left: 10px;
}

span {
	font-weight: bold;
}

form {
	position: relative;
	margin-left: 10px;
}

label {
	position:relative;
	width: 100%;
	line-height: 24px;
}

input {
	width: 100%;
	padding: 5px;
}

button {
	cursor: pointer;
	position: absolute;
    right: -14px;
    bottom: -60px;
}

a {
	margin-top: 15px;
	margin-left: 10px;
	text-decoration: none;
}

a, button {
	border-radius: 0;
	padding: 4px 9px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
}

input.ng-valid {
  border-left: 4px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 4px solid #a94442; 
}

.error-msg {
    background: pink;
    padding: 5px;
    width: 496px;
    color: crimson;
    font-family: 'Lato', sans-serif;
}