.employee-list {
    list-style: none;
    width: 300px;
    padding: 0;
    margin: 0;
}

.employee-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
    position: relative;
}

.employee-list li:hover {
    color: white;
    background: rgba(215, 38, 44, 0.9);;
}


.employee-list li span {
    cursor: pointer;
    position: absolute;
    right: 10px;
}


.employee-list .selectedEmployee {
    color: red;
}