.employee-list {
    list-style: none;
    width: 300px;
    padding: 0;
    margin: 0;
}

.employee-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
    position: relative;
}

.employee-list li div{
    padding: 10px;
}



.employee-list li:hover {
    color: white;
    background: rgba(215, 38, 44, 0.9);
}

.employee-list li:hover .delete{
    color: black;
}


.employee-list li .delete {
    cursor: pointer;
    position: absolute;
    right: -10px;
    bottom:20px;
}


.employee-list .selectedEmployee {
    color: red;
}