<div class="createNew">
	<a routerLink="/createNew" pButton label="Add new"></a>
</div>



<p-dataTable [value]="employees" sortMode="multiple" selectionMode="single" [(selection)]="selectedEmployee"  [rows]="10" [paginator]="true">
  <header>Employees List</header>
 <footer><div>Employee: {{selectedEmployee ? selectedEmployee.firstname + ' ' + selectedEmployee.lastname : ''}}</div>
 	<div style="text-align: right;">
 	<button pButton label="Edit" (click) = "showDetails(selectedEmployee)" [disabled] = !selectedEmployee></button>
 	<button pButton label="Delete" (click) = "deleteEmployee(selectedEmployee.id)" [disabled] = !selectedEmployee></button>
 </div>
 </footer>
    <p-column field="firstname" header="Firstname" [sortable]="true"></p-column>
    <p-column field="lastname" header="Lastname" [sortable]="true"></p-column>
    <p-column field="age" header="Age" [sortable]="true"></p-column>
    <p-column field="experience" header="Experience" [sortable]="true"></p-column>
</p-dataTable>
